.sidebarChat {
  display: flex;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
  background: #ebebeb;
}

.SidebarChat__info {
  margin-left: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.SidebarChat__info > h3 {
  font-size: 16px;
  /* margin-top: 10px; */
  text-transform: capitalize;
}
