.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
}

.login__container {
  padding: 100px;
  text-align: center;
  /* background-color: white; */
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.login__container > img {
  object-fit: contain;
  width: 100px;
  padding-bottom: 40px;
}

.login__container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: #018d48 !important;
  margin-top: 50px;
}
